.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.button {
  cursor: pointer;
  background-color: rgb(248, 149, 149);
  border: none;
  border-radius: 4px;
  border: 1px solid grey;
  width: 100px;
  padding: 5px;
}
